body{
    background:  linear-gradient(0deg, rgba(0,0,0,0.8),  rgba(0,0,0,0.8)), url(estilosCSS/Pag.Imagenes/fondo\ inicio\ secion.png);
    width: 99vw;
    height: 155vw;
    background-position: top center;
    background-repeat: no-repeat;
    font-family:cursive ;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 60px;
    flex-wrap: wrap;

    
}
a{
text-decoration: none;
color: black;

}

header{
    display: flex;
justify-content: space-between;
width: 100vw;
height: 63px;
align-items: center;
padding-left: 10px;
padding-right: 7px;
padding: 10px;
background: green ;
}
.logo{
    display: flex;
    align-items: center;
   
}
.logo-img{
    height: 50px;
    margin-right: 9px;
}
nav a{
    font-weight: 600;
    padding-right: 10px;

}
nav a:hover{
    color:whitesmoke ;
}
@media  (max-width:700px){
    header{ 
        flex-direction: column;
    }
    
}




.boletines img{
    vertical-align: top;
    width: 250px;
    height: 250px;
   opacity: 100%;
   margin: 50px;
   border-radius: 30%;
   border-spacing: 5px;
   border: 5px double white;
   border-style: double;
   opacity: 55%;
}
.boletines img:hover{

    width: 300px;
    height: 500px;
    opacity: 100%;
    border-radius: 5%;
    border: 10px  double rgb(255, 255, 255)  ;
    opacity: 100%;
}

.parrafo{
   
text-align: center;
color:rgb(255, 255, 255);
font-size: 30px;
}

footer{
    align-self: flex-end;

    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    min-height: 60px;
    align-items: center;
    padding: 1em 0;
    padding: 10px; 
    background: rgb(19, 90, 27) ;
    }
